.lanyard-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;   /* kecil & fixed → tidak bikin overflow */
  height: 600px;
  z-index: 1;
  pointer-events: none;
  overflow: visible !important;
}

@media (max-width: 768px) {
  .lanyard-wrapper {
    position: absolute;
    top: 0;      
    left: 0;
    width: 200px;    
    height: 300px;
    z-index: 0;
    transform: scale(0.9); 
  }
}